BELGIAN_MOBILITY_BASE_URL=https://api-management-discovery-production.azure-api.net/api/datasets/stibmivb
BELGIAN_MOBILITY_SUBSCRIPTION_KEY=
BELGIAN_MOBILITY_SECONDARY_KEY=
STIB_DATA_SOURCE=belgian_mobility
STIB_API_KEY=
PORT=10000
